{% extends "base.html" %}

{% block page_title %}World List{% endblock %}

{% block page_content %}
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="worldlist">
    <thead>
        <tr>
            <th>Title</th>
            <th>DF Ver</th>
            <th>Volcano</th>
            <th>Aquifer</th>
            <th>River</th>
            <th>Embark Size</th>
            <th>Iron</th>
            <th>Candy</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
    {% for world in world_list %}
        <tr>
            <td><a href="{{ world.get_absolute_url }}">{{ world.title }}</a></td>
            <td>{{ world.df_version }}</td>
            <td>{{ world.has_volcano }}</td>
            <td>{{ world.has_quifer }}</td>
            <td>{{ world.has_river }}</td>
            <td>{{ world.embark_size }}</td>
            <td>{{ world.has_iron }}</td>
            <td>{{ world.has_candy }}</td>
            <td>{{ world.author }}</td>
        </tr>
    {% empty %}
    <tr><td colspan="0">Sorry , no worlds yet...</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
